*   {
    box-sizing: border-box;
    font-size: 100%;
}

body {    
    font-family: $font-family;
    font-size: $base-font-size;
    background-color: $color-white;
    line-height: 1.3;
    color: $color-blue-def;

    input, textarea, select, button, a {
        font-family: $font-family;
    }

    input, textarea, select, button {
        outline: none;
    }
  
}



main {
    display: block;
    padding-top: rem-calc(50);


    section {
        padding: rem-calc(50 10);
        text-align: center;

        @media (min-width: 640px) {
            padding: rem-calc(50 20);
        }
    
        @media (min-width: 1024px) {
            padding: rem-calc(50 30);
        }

        .wrap {
            width: 100%;
            max-width: rem-calc(1000);
            margin: 0px auto;
            padding: rem-calc(0 10);
    
            @media (min-width: 640px) {
                padding: rem-calc(0 15);
            }
    
            @media (min-width: 1024px) {
                padding: rem-calc(0 20);
            }
        }

        p {
            text-align: center;
            line-height: 1.6;
            font-size: rem-calc(15);
            letter-spacing: 1.06px;
            
            @media (min-width: 640px) {
                text-align: left;
                font-size: rem-calc(16);
            }

            @media (min-width: 1024px) {
                text-align: left;
                font-size: rem-calc(17);
            }
        }
    }

    section.full {
        width: 100%;
        height: 100%;
    }
    
}



h1, h2, h3 {    
    color: $color-blue-def;    
    margin: 0px auto;
}

h1 {
    font-family: $font-family2;
    font-size: rem-calc(40);
    font-weight: 400;
    line-height: 1.2;
}
h1.hid {
    display: none;
}

h2 {
    font-family: $font-family2;
    font-size: rem-calc(36);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 3.75px;

    @media (min-width: 640px) {
        font-size: rem-calc(42);
    }

    @media (min-width: 1024px) {
        font-size: rem-calc(48);
    }

    @media (min-width: 1280px) {
        font-size: rem-calc(54);
    }
}

h3 {
    font-family: $font-family;
    font-size: rem-calc(19);    
    font-weight: 500;
    line-height: 1.6;    
    letter-spacing: 4.8px;
    text-transform: uppercase;

    @media (min-width: 640px) {
        font-size: rem-calc(21);
    }

    @media (min-width: 1024px) {
        font-size: rem-calc(23);
    }

    @media (min-width: 1280px) {
        font-size: rem-calc(25);
    }
}

.btn-dark-base, .btn-light-base, .btn-white-base, .btn-red-base {
    display: inline-block;
    padding: rem-calc(6 18);
    border: 0;
    border-radius: 20px;
    font-size: rem-calc(14);   
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;    
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;

    @media (min-width: 640px) {
        font-size: rem-calc(15);
    }
}

.btn-dark-base {    
    border: 2px solid $color-blue-def; 
    background-color: $color-blue-def;    
    color: $color-white;     
}
.btn-dark-base:hover, .btn-dark-base.active {
    border: 2px solid $color-blue-def; 
    background-color: $color-white;
    color: $color-blue-def;   
}

.btn-light-base {
    border: 2px solid $color-white;
    background-color: $color-blue-def; 
    color: $color-white;
}
.btn-light-base:hover, .btn-light-base.activ {
    border: 2px solid $color-white;
    background-color: $color-white;
    color: $color-blue-def; 
}

.btn-white-base {
    border: 2px solid $color-white;
    background-color: $color-white;
    color: $color-blue-def; 
}
.btn-white-base:hover, .btn-white-base.activ {
    border: 2px solid $color-blue-def;
    background-color: $color-blue-def; 
    color: $color-white;
}

.btn-red-base {    
    border: 2px solid $color-btn-red; 
    background-color: $color-btn-red;    
    color: $color-white;     
}
.btn-red-base:hover, .btn-red-base.active {
    border: 2px solid $color-btn-red; 
    background-color: $color-white;
    color: $color-btn-red;   
}

